body {
    text-align:center;
    background-color:rgb(232, 201, 156);
}

.container {
    text-align:center;
    display:flex;
    justify-content:center;
}
#gameBox {
    width:120px;
    height:80px;
    border:2px solid black;
    border-radius:20%;    
    margin:10px;
}
.row1 {
    margin:8px;
}
.row2 {
    margin:8px;
}
.red {
    background-color:#e84a5f;
}
.blue {
    background-color:#007cb9;
}

.green {
    background-color:#118a7e;
}
.yellow {
    background-color:#a55233;
}

.flash {
    background-color:white;
}
.userflash {
    background-color:#fcff82;
}